    <div class="col-md-4 mt-2">
        <div class="card bg-primary text-white">
            <div class="card-header">
                <h5>Agregar un nuevo anuncio</h5>
            </div>
            <div class="card-body">
<form action="/anuncios/add" method="POST" enctype="multipart/form-data">
                    
                    {{!-- <div class="form-label-group">
                        <input id="titular" type="number" name="pos" value="{{pos}}" placeholder="Posicion" class="form-control" required>
                        <label for="titular">Posicion</label>
                    </div> --}}
                    <div class="form-label-group">
                        <input id="title" type="text" name="title" value="{{title}}" placeholder="Titulo del anuncio" class="form-control" required>
                        <label for="title">Titulo del anuncio</label>
                    </div>
                    <div class="form-group">
                        <label for="image">Imagen </label>
                        <input type="file" name="image" placeholder="Select ad image" class="form-control">
                    </div>
                    <div class="form-label-group">
                        <input id="titular" type="text" name="titular" value="{{titular}}" placeholder="Titular/dueño" class="form-control" required>
                        <label for="titular">Titular/dueño</label>
                    </div>
                    <div class="form-label-group">
                        <input id="fechaInicio" type="date" name="fechaInicio" value="{{fechaInicio}}" placeholder="Fecha de inicio de la publicacion" class="form-control" required>
                        <label for="fechaInicio">Fecha de inicio de la publicacion</label>
                    </div>
                    <div class="form-label-group">
                        <input id="fechaFin" type="date" name="fechaFin" value="{{fechaFin}}" placeholder="Fecha de finalizacion de la publicacion" class="form-control" required>
                        <label for="fechaFin">Fecha de finalizacion de la publicacion</label>
                    </div>
                    <div class="form-label-group">
                        <input id="link" type="text" name="link" value="{{link}}" placeholder="Link del anuncio" class="form-control">
                        <label for="link">Link del anuncio</label>
                    </div>


                    <button class="btn btn-outline-success bg-white btn-block mt-2" type="submit">Agregar</button>
            </div>
        </div>
    </div>
    <div class="col-md-8 mt-2">
        <div class="card">
            <div class="card-body"></div>
        </div>
    </div>
</div>