    <div class="col-md-4 mt-2">
        <div class="card bg-primary text-white">
            <div class="card-header">
                <h5>Agregar una nueva camara</h5>
            </div>
            <div class="card-body">
<form action="/camaras/add" method="POST" enctype="multipart/form-data">
                    <div class="form-row mb-3">
                        <div class="col ">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="exampleCheck1">
                                <i class="fas fa-check mx-2"></i>
                                <input type="checkbox" class="form-check-input" name="enable" {{#if_eq enable "on" }} checked {{/if_eq}}
                                    id="exampleCheck1">
                                    Enable</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="exampleCheck2">
                                <i class="fas fa-eye mx-2"></i>
                                <input type="checkbox" class="form-check-input" name="visible" {{#if_eq visible "on" }} checked {{/if_eq}}
                                    id="exampleCheck2">
                                    Visible</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-label-group">
                        <input id="name" type="text" name="name" value="{{name}}" placeholder="Nombre de la camara" class="form-control" required>
                        <label for="name">Nombre de la camara</label>
                    </div>
                    <div class="form-label-group">
                        <input id="slug" type="text" name="slug" value="{{slug}}" placeholder="Url de la camara" class="form-control" onkeypress="return AvoidSpace(event)" required>
                        <label for="slug">Url de la camara</label>
                    </div>
                    <div class="form-label-group">
                        <input id="title" type="text" name="title" value="{{title}}" placeholder="Titulo de la camara" class="form-control" required>
                        <label for="title">Titulo de la camara</label>
                    </div>
                    <div class="form-label-group">
                        <input id="source" type="text" name="source" value="{{source}}" placeholder="Origen" class="form-control" required>
                        <label for="source">Origen</label>
                    </div>      
                    <div class="form-label-group">
                        <input id="ffmpeg" type="text" name="ffmpeg" value="{{ffmpeg}}" placeholder="Instruccion ffmpeg especial" class="form-control">
                        <label for="ffmpeg">Instruccion ffmpeg especial</label>
                    </div>
                    
                    <div class="form-row">
                        <div class="col">
                            <div class="form-label-group">
                                <input id="lat" type="text" name="lat" value="{{lat}}" placeholder="Latitud" class="form-control">
                                <label for="lat">Latitud</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-label-group">
                                <input id="lng" type="text" name="lng" value="{{lng}}" placeholder="Longitud" class="form-control">
                                <label for="lng">Longitud</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-label-group">
                        <input id="gmapLink" type="text" name="gmapLink" value="{{gmapLink}}" placeholder="Link de google maps" class="form-control">
                        <label for="gmapLink">Link de google maps</label>
                    </div>
                    <button class="btn btn-outline-success bg-white btn-block mt-2" type="submit">Agregar</button>
            </div>
        </div>
    </div>
    <div class="col-md-8 mt-2">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="poster">Imagen del Poster</label>
                    <input type="file" name="poster" value="{{poster}}" placeholder="Poster image" class="form-control">
                </div>
                <div class="form-group">
                    <label for="preroll">Video preroll</label>
                    <input type="file" name="preroll" value="{{preroll}}" placeholder="Preroll video" class="form-control">
                </div>
                <div class="form-group">
                    <label for="sponsor">Sponsor</label>
                    <input type="file" name="sponsor" value="{{sponsor}}" placeholder="Sponsor image" class="form-control">
                </div>
                <div class="form-group">
                    <label for="ad1">Anuncio #1</label>
                    <input type="file" name="ad1" value="{{ad1}}" placeholder="ad1 image" class="form-control">
                </div>
                <div class="form-group">
                    <label for="ad2">Anuncio #2</label>
                    <input type="file" name="ad2" value="{{ad2}}" placeholder="ad2 image" class="form-control">
                </div>
                <div class="form-group">
                    <label for="ad3">Anuncio #3</label>
                    <input type="file" name="ad3" value="{{ad3}}" placeholder="ad3 image" class="form-control">
                </div>
                <div class="form-group">
                    <label for="ad4">Anuncio #4</label>
                    <input type="file" name="ad4" value="{{ad4}}" placeholder="ad4 image" class="form-control">
                </div>
                <div class="form-group">
                    <label for="ad5">Anuncio #5</label>
                    <input type="file" name="ad5" value="{{ad5}}" placeholder="ad5 image" class="form-control">
                </div>
                <div class="form-group">
                    <label for="ad6">Anuncio #6</label>
                    <input type="file" name="ad6" value="{{ad6}}" placeholder="ad6 image" class="form-control">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //avoid input spaces:
function AvoidSpace(event) {
    var k = event ? event.which : window.event.keyCode;
    if (k == 32) return false;
}
</script>