    <div class="col-md-4 mt-2">
        <div class="card bg-primary text-white">
            <div class="card-header">
                <h5>Editar camara</h5>
            </div>
            <div class="card-body">
                {{#if_eq thiscam.enable "on" }}
                <div class="form-row mb-2">
                    <img src="https://srv.freewaves.live/images/{{thiscam.name}}.jpg" onerror="this.onerror=null;this.src='../../img/alert.png';this.style='width:30px';" style="border-radius: 5px;width: -webkit-fill-available;"/>
                </div>
                {{/if_eq}}
<form action="/camaras/edit/{{thiscam._id}}?_method=PUT" enctype="multipart/form-data" method="POST">
            <input type="hidden" name="_method" value="PUT">
                    <div class="form-row mb-3">
                        <div class="col">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="exampleCheck1">
                                <i class="fas fa-check mx-2"></i>
                                <input type="checkbox" class="form-check-input" name="enable" {{#if_eq thiscam.enable "on" }} checked {{/if_eq}}
                                    id="exampleCheck1">
                                    Enable</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="exampleCheck2">
                                <i class="fas fa-eye mx-2"></i>
                                <input type="checkbox" class="form-check-input" name="visible" {{#if_eq thiscam.visible "on" }} checked {{/if_eq}}
                                    id="exampleCheck2">
                                    Visible</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-label-group">
                        <input id="name" type="text" name="name" value="{{thiscam.name}}" placeholder="Nombre de la camara" class="form-control" required>
                        <label for="name">Nombre de la camara</label>
                    </div>
                    <div class="form-label-group">
                        <input id="slug" type="text" name="slug" value="{{thiscam.slug}}" placeholder="Url de la camara" class="form-control" onkeypress="return AvoidSpace(event)" required>
                        <label for="slug">Url de la camara</label>
                    </div>
                    <div class="form-label-group">
                        <input id="title" type="text" name="title" value="{{thiscam.title}}" placeholder="Titulo de la camara" class="form-control" required>
                        <label for="title">Titulo de la camara</label>
                    </div>
                    <div class="form-label-group">
                        <input id="source" type="text" name="source" value="{{thiscam.source}}" placeholder="Origen" class="form-control" required>
                        <label for="source">Origen</label>
                    </div>      
                    <div class="form-label-group">
                        <input id="ffmpeg" type="text" name="ffmpeg" value="{{thiscam.ffmpeg}}" placeholder="Instruccion ffmpeg especial" class="form-control">
                        <label for="ffmpeg">Instruccion ffmpeg especial</label>
                    </div>
                    
                    <div class="form-row">
                        <div class="col">
                            <div class="form-label-group">
                                <input id="lat" type="text" name="lat" value="{{thiscam.lat}}" placeholder="Latitud" class="form-control">
                                <label for="lat">Latitud</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-label-group">
                                <input id="lng" type="text" name="lng" value="{{thiscam.lng}}" placeholder="Longitud" class="form-control">
                                <label for="lng">Longitud</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-label-group">
                        <input id="ciudad" type="text" name="ciudad" value="{{thiscam.ciudad}}" placeholder="Nombre de la ciudad" class="form-control">
                        <label for="ciudad">ciudad</label>
                    </div>
                    <div class="form-label-group">
                        <input id="pais" type="text" name="pais" value="{{thiscam.pais}}" placeholder="pais" class="form-control">
                        <label for="pais">pais</label>
                    </div>                    
                    <div class="form-label-group">
                        <input id="gmapLink" type="text" name="gmapLink" value="{{thiscam.gmapLink}}" placeholder="Link de google maps" class="form-control">
                        <label for="gmapLink">Link de google maps</label>
                    </div>
                    <button class="btn btn-outline-success bg-white btn-block mt-2" type="submit">Editar</button>
            </div>
        </div>
    </div>
    <div class="col-md-8 mt-2">
        <div class="card" style="background-color:#f3f3f3">
            <div class="card-body">
                <div class="form-row my-2" style="min-height:165px;">
                        <div class="col-md">
                            <div class="form-group">
                                <input type="file" name="banner" class="custom-file-input" id="banner" lang="es">
                                <label class="custom-file-label" for="banner">Imagen del Banner</label>
                            </div>
                        </div>
                        <div class="col-md text-center">
                            {{#if thiscam.banner }}<img style="border-radius: 5px;" src="/content/{{thiscam.banner}}" width="300px">{{/if}}
                        </div>
                </div>
                <div class="form-row my-2" style="min-height:165px;">
                        <div class="col-md">
                            <div class="form-group">
                                <input type="text" name="posterName" value="{{thiscam.poster.name}}" placeholder="Nombre" class="form-control">
                                <input type="text" name="posterLink" value="{{thiscam.poster.link}}" placeholder="Link del anunciante" class="form-control">
                                <input type="file" name="posterFile" class="custom-file-input" id="poster" lang="es">
                                <label class="custom-file-label" for="poster">Imagen del Poster</label>
                            </div>
                        </div>
                        <div class="col-md text-center">
                            {{#if thiscam.poster.file }}<img style="border-radius: 5px;" src="/content/{{thiscam.poster.file}}" width="300px">{{/if}}
                        </div>
                </div>
                <div class="form-row my-2" style="min-height:165px;">
                        <div class="col-md">
                            <div class="form-group">
                                <input type="text" name="prerollName" value="{{thiscam.preroll.name}}" placeholder="Nombre" class="form-control">
                                <input type="text" name="prerollLink" value="{{thiscam.preroll.link}}" placeholder="Link del anunciante" class="form-control">
                                <input type="file" name="prerollFile" class="custom-file-input" id="preroll">
                                <label class="custom-file-label" for="preroll">Preroll video</label>
                            </div>
                        </div>
                        <div class="col-md text-center">
                            {{#if thiscam.preroll.file }}<video style="border-radius: 5px;" controls width="300px"><source src="/content/{{thiscam.preroll.file}}" type="video/mp4"></source></video>{{/if}}
                        </div>
                </div>
                <div class="form-row my-2" style="min-height:165px;">
                        <div class="col-md">
                            <div class="form-group">
                                <input type="text" name="sponsorName" value="{{thiscam.sponsor.name}}" placeholder="Nombre" class="form-control">
                                <input type="text" name="sponsorLink" value="{{thiscam.sponsor.link}}" placeholder="Link del anunciante" class="form-control">
                                <input type="file" name="sponsorFile" class="custom-file-input" id="sponsor">
                                <label class="custom-file-label" for="sponsor">Sponsor image</label>
                            </div>
                        </div>
                        <div class="col-md text-center">
                            {{#if thiscam.sponsor.file }}<img style="border-radius: 5px;" src="/content/{{thiscam.sponsor.file}}" width="300px">{{/if}}
                        </div>
                </div>
                <div class="form-row my-2" style="min-height:165px;">
                        <div class="col-md">
                            <div class="form-group">
                                <input type="text" name="ad1Name" value="{{thiscam.ad1.name}}" placeholder="Nombre" class="form-control">
                                <input type="text" name="ad1Link" value="{{thiscam.ad1.link}}" placeholder="Link del anunciante" class="form-control">
                                <input type="file" name="ad1File" class="custom-file-input" id="ad1">
                                <label class="custom-file-label" for="ad1">Anuncio #1</label>
                            </div>
                        </div>
                        <div class="col-md text-center">
                            {{#if thiscam.ad1.file }}<img style="border-radius: 5px;" src="/content/{{thiscam.ad1.file}}" width="300px">{{/if}}
                        </div>
                </div>
                <div class="form-row my-2" style="min-height:165px;">
                        <div class="col-md">
                            <div class="form-group">
                                <input type="text" name="ad2Name" value="{{thiscam.ad2.name}}" placeholder="Nombre" class="form-control">
                                <input type="text" name="ad2Link" value="{{thiscam.ad2.link}}" placeholder="Link del anunciante" class="form-control">
                                <input type="file" name="ad2File" class="custom-file-input" id="ad2">
                                <label class="custom-file-label" for="ad2">Anuncio #2</label>
                            </div>
                        </div>
                        <div class="col-md text-center">
                            {{#if thiscam.ad2.file }}<img style="border-radius: 5px;" src="/content/{{thiscam.ad2.file}}" width="300px">{{/if}}
                        </div>
                </div>
                <div class="form-row my-2" style="min-height:165px;">
                        <div class="col-md">
                            <div class="form-group">
                                <input type="text" name="ad3Name" value="{{thiscam.ad3.name}}" placeholder="Nombre" class="form-control">
                                <input type="text" name="ad3Link" value="{{thiscam.ad3.link}}" placeholder="Link del anunciante" class="form-control">
                                <input type="file" name="ad3File" class="custom-file-input" id="ad3">
                                <label class="custom-file-label" for="ad3">Anuncio #3</label>
                            </div>
                        </div>
                        <div class="col-md text-center">
                            {{#if thiscam.ad3.file }}<img style="border-radius: 5px;" src="/content/{{thiscam.ad3.file}}" width="300px">{{/if}}
                        </div>
                </div>
                <div class="form-row my-2" style="min-height:165px;">
                        <div class="col-md">
                            <div class="form-group">
                                <input type="text" name="ad4Name" value="{{thiscam.ad4.name}}" placeholder="Nombre" class="form-control">
                                <input type="text" name="ad4Link" value="{{thiscam.ad4.link}}" placeholder="Link del anunciante" class="form-control">
                                <input type="file" name="ad4File" class="custom-file-input" id="ad4">
                                <label class="custom-file-label" for="ad4">Anuncio #4</label>
                            </div>
                        </div>
                        <div class="col-md text-center">
                            {{#if thiscam.ad4.file }}<img style="border-radius: 5px;" src="/content/{{thiscam.ad4.file}}" width="300px">{{/if}}
                        </div>
                </div>
                <div class="form-row my-2" style="min-height:165px;">
                        <div class="col-md">
                            <div class="form-group">
                                <input type="text" name="ad5Name" value="{{thiscam.ad5.name}}" placeholder="Nombre" class="form-control">
                                <input type="text" name="ad5Link" value="{{thiscam.ad5.link}}" placeholder="Link del anunciante" class="form-control">
                                <input type="file" name="ad5File" class="custom-file-input" id="ad5">
                                <label class="custom-file-label" for="ad5">Anuncio #5</label>
                            </div>
                        </div>
                        <div class="col-md text-center">
                            {{#if thiscam.ad5.file }}<img style="border-radius: 5px;" src="/content/{{thiscam.ad5.file}}" width="300px">{{/if}}
                        </div>
                </div>
                <div class="form-row my-2" style="min-height:165px;">
                        <div class="col-md">
                            <div class="form-group">
                                <input type="text" name="ad6Name" value="{{thiscam.ad6.name}}" placeholder="Nombre" class="form-control">
                                <input type="text" name="ad6Link" value="{{thiscam.ad6.link}}" placeholder="Link del anunciante" class="form-control">
                                <input type="file" name="ad6File" class="custom-file-input" id="ad6">
                                <label class="custom-file-label" for="ad6">Anuncio #6</label>
                            </div>
                        </div>
                        <div class="col-md text-center">
                            {{#if thiscam.ad6.file }}<img style="border-radius: 5px;" src="/content/{{thiscam.ad6.file}}" width="300px">{{/if}}
                        </div>
                </div>

                
</form>
            </div>
                <div class="card-footer">
        <form action="/camaras/delete/{{thiscam._id}}?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger btn-block" onclick="if(!confirm('Seguro queres Borrarla?')){return false}">BORRAR esta Camara</button>
        </form>
    </div>
        </div>
    </div>
</div>

<script>
    /*function removeAd(idCam, campo){
        jQuery.ajax({
            type: 'PUT',
            url: `/camaras/quitar/anuncio/${idCam}`,
            data: campo,
            success: function () {
                alert('campo actualizado')
            }
        });
    }*/
    function AvoidSpace(event) {
        var k = event ? event.which : window.event.keyCode;
        if (k == 32) return false;
    }
</script>

{{!-- <div class="col-md-6 m-2 mx-auto">
<div class="card bg-primary text-white">
    <div class="card-header">
        <h5>Editar camara</h5>
    </div>
    <div class="card-body">
        <form action="/camaras/edit/{{thiscam._id}}?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <div class="form-group">
                <input type="text" name="name" value="{{thiscam.name}}" placeholder="Nombre de la camara (ej.: Norte)"
                    class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="source" value="{{thiscam.source}}" placeholder="Origen (ej.: rtsp://...)"
                    class="form-control">
            </div>
            <div class="form-row">
                <div class="col">
                    <h5>Status:</h5>
                </div>
                <div class="col">
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" name="enable" {{#if_eq thiscam.enable "on" }} checked
                            {{/if_eq}} id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Enable</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" name="visible" {{#if_eq thiscam.visible "on" }} checked
                            {{/if_eq}} id="exampleCheck2">
                        <label class="form-check-label" for="exampleCheck2">Visible</label>
                    </div>
                </div>
            </div>
            <button class="btn btn-success btn-block mt-2" type="submit">Editar</button>
        </form>
    </div>
    <div class="card-footer">
        <form action="/camaras/delete/{{thiscam._id}}?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger btn-block">DELETE this cam</button>
        </form>
    </div>
</div>
</div> --}}